# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/w/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

. ~/apps/pubfiles/home/zshrc.aliases
. ~/apps/pubfiles/home/zshrc.git
. ~/apps/pubfiles/home/zshrc.ruby

rbenv shell 2.4.1
