# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename "$HOME/.zshrc"

autoload -Uz compinit
compinit
# End of lines added by compinstall

. ~/apps/pubfiles/home/zshrc.aliases
. ~/apps/pubfiles/home/zshrc.git
. ~/apps/pubfiles/home/zshrc.ruby
. ~/apps/pubfiles/home/zshrc.node
. ~/apps/pubfiles/home/zshrc.ssh-agent

test -f ~/apps/pubfiles/home/zshrc.user.$USER && . ~/apps/pubfiles/home/zshrc.user.$USER

if which rbenv >/dev/null 2>&1; then
  rbenv shell 2.7
fi

iw() { palemoon -ProfileManager -no-remote }
