<table cellpadding="5">
<tr><td class="tktDspLabel">Ticket&nbsp;UUID:</td>
<th1>
if {[hascap s]} {
  html "<td class='tktDspValue' colspan='3'>$tkt_uuid "
  html "($tkt_id)</td></tr>\n"
} else {
  html "<td class='tktDspValue' colspan='3'>$tkt_uuid</td></tr>\n"
}
</th1>
<tr><td class="tktDspLabel">Title:</td>
<td class="tktDspValue" colspan="3">
$<title>
</td></tr>
<tr><td class="tktDspLabel">Status:</td><td class="tktDspValue">
$<status>
</td>
<td class="tktDspLabel">Type:</td><td class="tktDspValue">
$<type>
</td></tr>
<tr>
<td class="tktDspLabel">Priority:</td><td class="tktDspValue">
$<priority>
</td>
<td class="tktDspLabel">Resolution:</td><td class="tktDspValue">
$<resolution>
</td></tr>
<tr><td class="tktDspLabel">Last&nbsp;Modified:</td><td class="tktDspValue">
$<tkt_datetime>
</td>
</tr>

<th1>
if {[info exists comment] && [string length $comment]>10} {
  html {
    <tr><td class="tktDspLabel">Description:</td></tr>
    <tr><td colspan="5" class="tktDspValue">
  }
  if {[info exists plaintext]} {
    set r [randhex]
    wiki "<verbatim-$r links>\n$comment\n</verbatim-$r>"
  } else {
    wiki $comment
  }
}
set seenRow 0
set alwaysPlaintext [info exists plaintext]
query {SELECT datetime(tkt_mtime) AS xdate, login AS xlogin,
              mimetype as xmimetype, icomment AS xcomment,
              username AS xusername
         FROM ticketchng
        WHERE tkt_id=$tkt_id AND length(icomment)>0} {
  if {$seenRow} {
    html "<hr>\n"
  } else {
    html "<tr><td class='tktDspLabel'>User Comments:</td></tr>\n"
    html "<tr><td colspan='5' class='tktDspValue'>\n"
    set seenRow 1
  }
  html "[htmlize $xlogin]"
  if {$xlogin ne $xusername && [string length $xusername]>0} {
    html " (claiming to be [htmlize $xusername])"
  }
  html " added on $xdate:\n"
  if {$alwaysPlaintext || $xmimetype eq "text/plain"} {
    set r [randhex]
    if {$xmimetype ne "text/plain"} {html "([htmlize $xmimetype])\n"}
    wiki "<verbatim-$r>[string trimright $xcomment]</verbatim-$r>\n"
  } elseif {$xmimetype eq "text/x-fossil-wiki"} {
    wiki "<p>\n[string trimright $xcomment]\n</p>\n"
  } elseif {$xmimetype eq "text/html"} {
    wiki "<p><nowiki>\n[string trimright $xcomment]\n</nowiki>\n"
  } else {
    set r [randhex]
    wiki "<verbatim-$r links>[string trimright $xcomment]</verbatim-$r>\n"
  }
}
if {$seenRow} {html "</td></tr>\n"}
</th1>
</table>
